* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8fafc;
    height: auto;
}

.header {
    height: auto;
    align-items: center;
    padding: 10px;
    background-color: rgb(137, 137, 224);
}

.libbuttons {
    display: flex;
    justify-content: space-around;
}

.libbuttons button {
    padding: .5em;
    font-size: 15px;
}

.libbuttons button:hover {
    background-color: lightblue;
}

.libbuttons button:active {
    background-color: rgb(101, 101, 255);
}

h1 {
    text-align: center;
    align-self: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
}

.librarydisplay {
    width: 70%;
    float: left;
    height: 86vh;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: scroll;
    padding: 10px;
    background-color: #163864;
}

.newbook {
    float: left;
    background-image: url(img/wood-grain.jpg);
    background-size: contain;
    padding: 10px;
    width: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.newbook > * {
    padding-bottom: 5px;
}

.card {
    background-color: #FCF5E5;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgb(0,0,0,.5);
    max-width: 300px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

button {
    border: 0px;
    border-radius: 5px;
    padding: 3px;
    align-self: center;
}

.delete {
    background-color: lightcoral;
}

label {
    padding-top: 5px;
    margin-top: 5px;
    
}

.input-display {
    padding: 3px;
    border-radius: 2px;
    background-color: rgba(200,200, 200, .7);
}

input {
    border-radius: 2px;
}

input:invalid {
    border: solid red 2px;
}
